# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Hypothesis testing artifacts
.hypothesis/

# Development/debug files
*.log
*.sqlite3

# Ignore uploads and temporary files
temp_uploads/
*.txt

# Ignore Docker artifacts
docker-compose.override.yml
.env.docker

# IDE and editor-specific files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
